/* src/styles/header.css */

.header {
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  transition: background-color 0.3s, color 0.3s;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.logo-wrapper .logo-img {
  height: 2rem;
  cursor: pointer;
}

.search-wrapper {
  position: relative;
  flex: 1;
  margin: 0 1rem;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  color: var(--link-color);
}

.search-input {
  width: 100%;
  padding: 0.5rem 0.75rem 0.5rem 2.5rem;
  border-radius: 9999px;
  border: 1px solid #ccc;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: border-color 0.2s;
}

.search-input:focus {
  outline: none;
  border-color: var(--link-hover);
}

.actions .icon-btn {
  padding: 0.5rem;
}

/* Navigation Items */
.nav-links a,
.nav-links button {
  /*color: var(--header-icon);*/
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
}

.nav-links a:hover,
.nav-links button:hover {
  color: var(--primary-color);
  /*background-color: var(--header-icon-hover-bg);*/
  transform: translateY(-2px);
}

.welcome {
  font-size: 0.9rem;
  font-weight: 500;
  margin-right: 0.5rem;
  /*color: var(--header-text);*/
}

/* Logo */
h1 .logo {
  font-size: 1rem;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }

  .mobile-menu-toggle {
    display: block;
    order: 1;
  }

  .nav-links {
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 70px);
    /*background-color: var(--header-bg);*/
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 2rem;
    transition: left 0.3s ease;
  }

  .nav-links.active {
    margin-top: 2rem;
    left: 0;
  }

  .nav-links a,
  .nav-links button {
    width: 80%;
    justify-content: center;
    padding: 1rem;
    border-radius: 8px;
    /*background-color: var(--header-icon-hover-bg);*/
  }

  .welcome {
    display: none;
  }
}

/*Search bar*/
.search-bar {
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  border: 1px solid #353535;
  border-radius: 24px;
  padding: 4px 10px;
  height: 39px;
  max-width: 280px;
  width: 100%;
  text-decoration: none;
  transition: border-color 0.3s ease;
}

.search-bar:hover {
  border-color: #0173ed;
}

.search-input {
  flex: 1;
  background: transparent;
  border: none;
  color: var(--text-color);
  padding-left: 8px;
  font-size: 14px;
  height: 100%;
  outline: none;
}

.search-icon {
  color: #0173ed;
  font-size: 20px;
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1.2rem;
  }
}