# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Database files
instance/
*.db

# Environment variables
.env

# IDE-specific files (PyCharm)
.idea/
*.iml

# Logs
*.log

# macOS-specific files
.DS_Store

# Miscellaneous
*.swp
*.swo